.input-style{
    background: rgba(255,255,255,0.4);
    border: none;
    position: relative;
    /* // display: block; */
    outline: none;
    width: 25em;
    height: 30p;
      /* // top: 250px; */
    margin: 0 auto;
    padding: 10px;
    color:   rgba(0, 0, 0, 0.774);
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    
  }
  .combobox{
    display: inline-block;
  }